.contato {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 6.25rem;
  gap: 3rem;
}

.formCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
  gap: 1.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.campoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: var(--cinza);
  border-radius: 0.9375rem;
  padding: 2rem;
}

.campoCont {
  height: 21.75rem;
}


input {
  text-align: left;
}

input,
input:focus, textarea, textarea:focus {
  border: none;
  outline: none;
  font: var(--inputPlace);
  color: var(--branco);
}

input:focus, textarea:focus {
  /* box-shadow: 0px 0px 9px 0px var(--laranja); */
  box-shadow: 0px 0px 0px 1px var(--laranja);
}

::placeholder {
  font: var(--inputPlace);
  color: var(--branco);
}

@media (max-width: 768px){
  .campo{
    gap: .125rem;
  }
  .campoInput{
    padding: 1.25rem 1rem;
  }
  .formCont{
    gap: 1rem;
  }
}
