/* Aqui fica os estilos globais da aplicação -> main.jsx */

:root {
  /* Cores */
  --preto: #0c0c0c;
  --branco: #d5d5d5;
  --laranja: #ff4b00;
  --cinza: #242424;
  --branco-btn: #ebebeb;
  --branco2: #b4b4b4;
  --error-color: #ca2626;

  /* Fontes */
  --font-gamePaused: "GamePaused", sans-serif;
  --font-upheavtt: "Upheavtt", sans-serif;
  --font-retroGaming: "RetroGaming", sans-serif;
  --font-dmSansRegular: "DMSansRegular", sans-serif;
  --font-dmSansBold: "DMSansBold", sans-serif;

  /* Padrões de fontes */
  --padrao-opacity: 0.7; /* 70% */
  --miniHome-opacity: 0.5; /* 50% */
  --h1-letterSpacing: 0.02em; /* 2% */
  --padrao-letterSpacing: 0.07em; /* 7% */

  /* Desktop */
  --home: 8rem/122% var(--font-gamePaused);
  --h1: 4rem / normal var(--font-gamePaused);
  --h2: 3rem / normal var(--font-gamePaused);
  --h3Modal: 2rem / normal var(--font-gamePaused);

  --botao: 2rem / normal var(--font-upheavtt);
  --botaoModal: 1rem / normal var(--font-upheavtt);

  --nav: 1.5rem / normal var(--font-retroGaming);
  --miniCard: 1rem / normal var(--font-retroGaming);
  --cardProj: 1.25rem / normal var(--font-retroGaming);

  --miniHome: 1.25rem/120% var(--font-dmSansRegular);
  --sub: 1.125rem/120% var(--font-dmSansRegular);
  --ph: 1.5rem/150% var(--font-dmSansRegular);
  --info: 1.5rem/100% var(--font-dmSansRegular);
  --footer: 1.5rem/160% var(--font-dmSansBold);
  --inputTitle: 2rem/150% var(--font-dmSansBold);
  --phModal: 1.25rem/160% var(--font-dmSansRegular);
}

/* Mobile */
@media (max-width: 768px) {
  :root {
    --home-mb: 4rem/80% var(--font-gamePaused);
    --h1-mb: 2.25rem / normal var(--font-gamePaused);
    --h2-mb: 1.5rem / normal var(--font-gamePaused);
    --h3Modal-mb: 1.25rem / normal var(--font-gamePaused);

    --botao-mb: 1rem / normal var(--font-upheavtt);
    --botaoModal-mb: 0.75rem / normal var(--font-upheavtt);

    --nav-mb: 0.75rem / normal var(--font-retroGaming);
    --miniHome-mb: 0.625rem / normal var(--font-retroGaming);
    --cardProj-mb: 0.875rem / normal var(--font-retroGaming);

    --miniHome-mb: 0.625rem/120% var(--font-dmSansRegular);
    --sub-mb: 0.5rem/120% var(--font-dmSansRegular);
    --ph-mb: 0.75rem/144% var(--font-dmSansRegular);
    --info-mb: 0.625rem/100% var(--font-dmSansRegular);
    --footer-mb: 0.875rem/100% var(--font-dmSansBold);
    --inputTitle-mb: 1rem/150% var(--font-dmSansBold);
    --phModal-mb: 1rem/160% var(--font-dmSansRegular);
  }
}
/* Importação de fontes */
@font-face {
  font-family: "GamePaused";
  src: local("GamePaused"),
    url("./assets/fonts/GamePaused.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Upheavtt";
  src: local("Upheavtt"), url("./assets/fonts/Upheavtt.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "RetroGaming";
  src: local("RetroGaming"),
    url("./assets/fonts/RetroGaming.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular"),
    url("./assets/fonts/DMSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold"),
    url("./assets/fonts/DMSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--preto);
}

/* @media (max-width: 1024px) {
  } */
